@import url('https://fonts.googleapis.com/css?family=Merriweather|Kaushan+Script|Tangerine|Kalam|Satisfy|Raleway');

html, body {

  margin: 0px;
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  height:100%;
}
body {
  background-color: #443e39;
}
:not(a){
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}
/* RESPONSIVE */
* {
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

row::after {
  content: "";
  clear: both;
  display: table;
}
/* RESPONSIVE END */
@media only screen and (min-width: 768px){
  /* IF desktop */
  div hr{
    margin: 0 20%;
  }
  div.container{
    width: auto;
    height: auto;
    margin: auto;
  }
  img.img1{
    margin-top: 20px;
    object-position: 50% 45%;
  }
  div .mySlides img{
    height: 500px;
  }
  div #clockdiv  div span{
    padding: 15px;

  }
  /* END IF desktop */
}

.viewMap a:hover{
  font-weight: bold;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ffffff;
    margin: 0 10%;
    padding: 0;
}
.ptex{
  text-shadow: 3px 0px 0px #eabc6b;
	position: absolute;
	bottom: 20%;
	width: 100%;
	text-align: center;
	color:#000;
  font-size:42px;
 	letter-spacing:8px;
  font-family: 'Pacifico','Kaushan Script';
}
.header{
  min-height: 100%;
  position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
  background-image: url('../images/latar.jpg');
  font-family: 'Kalam';

}
div.temukan{
  text-align: center;
  font: 400;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
}

div.undangan{
  font-family: 'Satisfy', cursive;
  font-size: 30px;
}

div.hormat{
  font-family: 'Satisfy', cursive;
  font-size: 30px;
}

div.memories{
  font-family: "Satisfy", cursive;
  font-size: 30px;
}
.back-pattern {
  background-attachment: fixed;
  background-repeat: repeat;
  background-image: url('../images/back-pattern.jpg');
  text-align: center;
  overflow-y: hidden;
  border-top: 20px solid #443e39;
  color: #a35e2a;
  font-family: 'Kalam';
}

.back-pattern p{
   line-height: 0.8;
   font-family: 'Kalam';
}

.back-pattern a {
  color: #a35e2a;
}

.footer{
  line-height: 0.8;
  color: #e0d1bc;
  text-align: center;
  font-family: 'Kalam';
}

/* COUNTDOWN */
.countdown{
  text-align: center;
}
#clockdiv{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: sans-serif;
  color: #fff;

  font-weight: 100;
  text-align: center;
  font-size: 30px;

}

#clockdiv > div{
  margin: 0px 5px;
  padding: 10px;
  border-radius: 3px;
  background: #bf763f;
  display: inline-block;
}
#clockdiv div > span{
  padding: 10px;
  display: inline-block;
  align-content: center;
}
.smalltextcountdown{
  padding-top: 5px;
  font-size: 16px;
}
/* END COUNTDOWN */
.img1{
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;

}
.symbol{
  max-width: 50px;
}

.container{
  padding: 15px;
  font-family: 'Kalam';
}


/*audio play button */
.audioplay-object {
  background:#bf763f;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.534);
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  font-weight: bold;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  text-decoration: none;
  transition: ease all 0.3s;
  position: fixed;
  right: 30px;
  bottom:30px;
}
.audioplay-object:hover{
-ms-transform: scale(1.1, 1.1); /* IE 9 */
  -webkit-transform: scale(1.1, 1.1); /* Safari */
  transform: scale(1.1, 1.1);
}
.audioplay-button {
  margin-left: auto;
  margin-right: auto;
}

.audioplay-button img {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
/*END audio play button*/


/*START SlideShow*/
/* Slideshow container */
/* * {box-sizing: border-box;} ALREADY HAVE IT*/
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img{
  height: 400px;
  width: 100%;
  object-fit: scale-down;
  object-position: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*END SlideShow*/

/* maps */
.mapouter {
  margin-right: auto;
  margin-left: auto;
}